---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1200px;
  width: 90%;
}

section {
  width: calc(100% - 300px) !important;
  max-width: 900px;
  float: right;
}

section img {
  max-width: 100%;
  height: auto;
}
